<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<h1 ><strong> Bienvenidos </strong> </h1> 
	<div class="table-responsive">
		<table class="table-hover">

			<tr>
				<td>
					<a href="{% url 'app1:tabla' %}" class="btn btn-link"><h2> Home</h2></a>
				</td>
				<td> <strong><h2>|</h2></strong> </td>
				<td>
					<a href ="{% url 'app1:estudiante' %}"class="btn btn-link"><h2>Estudiantes</h2></a>
				</td>
						
			</tr>
		</table>


	</div>
	<div class="mt-5">
				<div class="text-center">
					<div class="text-warning">
						<h2>
							Informacion del estudiante
						</h2>
					</div>
				</div>
			</div>
				<div class="table-responsive">
					<div class="mt-5">
						<table class="table table-bordered">
					<tr>
						<td class="text-danger">
							<strong>ID</strong>
						</td>
						<td class = "text-danger">
							<strong>Nombre</strong>
						</td>
						<td class = "text-danger">
							<strong>Apellido</strong>
						</td>
						<td class = "text-danger">
							<strong>Sexo</strong>
						</td>
						<td class ="text-danger">
							<strong>Direccion</strong>
						</td>
					</tr>
					<tr>
						<td>
							1
						</td>
						<td>
							Angel Eduardo
						</td>
						<td>
							Tovar Sanchez
						</td>
						<td>
							Masculino
						</td>
						<td>
							San Rafael
						</td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							Ana Delfina
						</td>
						<td>
							Coti Santos
						</td>
						<td>
							Femenina
						</td>
						<td>
							Quetzaltenango
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							Kener Ulises
						</td>
						<td>
							Bartolon Gomez 
						</td>
						<td>
							Masculino
						</td>
						<td>
							Malacatan
						</td>
					</tr>
						<tr>
						<td>
							4
						</td>
						<td>
							Yasmi Leiry
						</td>
						<td>
							Velasquez Morales
						</td>
						<td>
							Femenino
						</td>
						<td>
							Catarina
						</td>
					</tr>
					<tr>
						<td>
							5
						</td>
						<td>
							Baldomero Encarnación
						</td>
						<td>
							Bartolon Lopez
						</td>
						<td>
							Masculino
						</td>
						<td>
							Carmen
						</td>
					</tr>
					<tr>
						<td>
							6
						</td>
						<td>
							Douglas Ivan
						</td>
						<td>
							Lopez Ramos
						</td>
						<td>
							Masculino
						</td>
						<td>
							Malacatan
						</td>
					</tr>
					<tr>
						<td>
							7
						</td>
						<td>
							Maria Angelica
						</td>
						<td>
							Gomez Ramirez
						</td>
						<td>
							Femenino
						</td>
						<td>
							San Jose
						</td>
					</tr>

				</table>
				</div>
			</div>
			

</body>
</html>