<html>
<body>
	<h1 ><strong> Bienvenidos </strong> </h1>
	<div class="table-responsive">
		<table class="table-hover">

			<tr>
				<td>
					<a href="{% url 'app1:tabla' %}" class="btn btn-link"><h2> Home</h2></a>
				</td>
				<td> <strong><h2>|</h2></strong> </td>
				<td>
					<a href ="{% url 'app1:estudiante' %}"class="btn btn-link"><h2>Estudiantes</h2></a>
				</td>
						
						
			</tr>
		</table>


	</div>
	<div class="text-center">
			<div class="text-info">
				<H1 class="mt-5">
					<br>
					HOME
				</H1>
			</div>
		</div>
		<div >
			<div  class="text-justify">
				<div class="mt-5">
					<div class="mx-5">
						<h4>
							<p class ="font-italic" >
							
								<strong>
									<br>
									nuestra pagina esta creada para conocer 
									mucho mejor la Universidad Mariano Gálvez
									lo que ofrece, nuestros servicios, potencial
									en los jovenes universitarios y somos una empresa
									capacitada para el desarrollo de las personas. 
									
								</strong>
							</p>
						</h4>
				 	</div>
				</div>
		</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-15 col-md-15 col-lg-3">
					<video controls class="img-fluid">
						<source src="video.mp4 " type="video/mp4">
						</source>
					</video>
				</div>
				
			</div>
		</div>
</body>
</html>